body{
    margin:0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
h1, h3{
    text-transform: uppercase;
    background-color: lightgray;
    color: rgb(0,86,119);
}
h1{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 60px;
    line-height: 60px;
    background-color: rgb(196, 196, 196);
}
h3{
    padding:6px 0 7px 12.45px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
}
header{
    background-color: rgb(230, 230, 230);
    padding: auto;
    text-align: center;
    height: 248px;
}
#contenedorImagen{
    height: 188px;
}
img{
    border-radius: 50%;
    height: 146px;
    margin-top: 21px;
}
main{
    height: 776px;
    padding-top: 110px;
}
li{
    font-weight: 400;
    font-size:15px;
    line-height: 20px;
}
.fechas{
    width: 100px;
    height: 50px !important;
    margin-left: 25px;
}
.descripcion{
    width: 500px;
    height: 34px;
    font-weight: normal;
}
footer{
    background-color: #005677;
    height: 37px;
    color:white;
    font-size: 20px;
    line-height: 37px;
    text-align: center;
}
.formacionAcademica{
  display: flex;
flex-direction: row;
}
